<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>contactEmailRot13</key>
	<string>zvxr@chqqvatgvzr.bet</string>
	<key>contactName</key>
	<string>Mike Hall</string>
	<key>description</key>
	<string>Integration with org-mode files.</string>
	<key>name</key>
	<string>org-mode</string>
	<key>uuid</key>
	<string>8ceaf72a-8dab-4708-a07b-67cb7e9d6225</string>
</dict>
</plist>
